  .header {
    min-height: 150px;
    position: relative;
  }

.header__logo {
    height: 70px;
  }

.header__text {
    font-size: 14px;
}

.header__cart {
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 60px;
    width: 60px;
    border-radius: 36px;
    position: relative;

    & svg {
      top: 10px;
      left: 12px;
    }
}

.header__buttongroup {
  width: 130px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 18px;
  bottom: 60px;
}

.header__buttonConnect {
  position: absolute;
  right: 88px;
  bottom: 60px;
  display: flex;
  width: 210px;
  justify-content: space-between;
}

  @media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar .container {
    align-items: end;
  }
  .header__logo {
    height: 140px;
  }
  .header__text {
    font-size: 18px;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .navRow {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-toggler {
    align-self: center;
  }

  .header__buttongroup {
    width: 100%;
    position: fixed;
    right: 0px;
    bottom: 0px;
  }

  .header__cart {
    width: 50%;
    border-radius: 0px;
  }

  .header__buttonConnect {
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    z-index: 2000;
  }
}

@media (min-width: 992px) {
  
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // .navbar .container {
  //   align-items: end;
  // }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}