  .header {
    min-height: 150px;
    position: relative;
  }

  @keyframes skew-y-shakeing{
    0% { transform: skewY(-15deg); }
    5% { transform: skewY(15deg); }
    10% { transform: skewY(-15deg); }
    15% { transform: skewY(15deg); }
    20% { transform: skewY(0deg); }
    100% { transform: skewY(0deg); }
   }

.header__logo {
    height: 70px;
  }

.header__text {
    font-size: 14px;
}

.header__cart {
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 60px;
    width: 60px;
    border-radius: 36px;
    position: relative;

    & svg {
      top: 10px;
      left: 12px;
      // -webkit-transform: scaleX(-1);
      // transform: scaleX(-1);
    }
}

.hidden {
  display: none;
}

.openButtonGroup {
  position: absolute;
  right: 18px;
  bottom: 60px;
  box-shadow: 1px 4px 20px #fafafb;
  // animation: skew-y-shakeing 1.3s infinite;
}

.header__buttonConnect {
  position: absolute;
  right: 18px;
  bottom: 60px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

  @media (max-width: 576px) {
    .header__text {
      font-size: 12px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar .container {
    align-items: end;
  }
  .header__logo {
    height: 140px;
  }
  .header__text {
    font-size: 18px;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .navRow {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-toggler {
    align-self: center;
  }

  .openButtonGroup {
    position: fixed;
    right: 18px;
    bottom: 10px;
  }

  .header__buttonConnect {
    position: fixed;
    z-index: 2000;
    flex-direction: column;
    right: 18px;
    bottom: 10px;
    width: fit-content;
    height: 300px;
  }
}

.bg-telegram {
  background-color: #2AABEE;
}

.bg-phone {
  background-color: grey;
}


.bg-whatsUp {
  background-color: #25D366;
}

