.form {
    width: 550px;
    margin: 0 auto;
    color: rgb(29, 20, 20);
    padding: 30px;
    border: 1px solid rgb(218, 214, 214);
    background-color: #e2e3e5;
    box-shadow: 1px 4px 20px #646464;
    border-radius: 1%;
}

.form * {
    outline: none;
}

.form__title {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px 0;
    color: rgb(70, 72, 74);
}

.form__item {
    margin: 0 0 20px 0;
}

.form__label {
    font-size: 18px;
    display: block;
    margin: 0 0 10px 0;
}

.form__input {
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    transition: transform 0.5s ease 0s;
    border: 1px solid grey;
}

.form__button {
    width: 100%;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .form {
        width: 80%;
       }
}