.form {
    width: 550px;
    margin: 0 auto;
    color: rgb(29, 20, 20);
    padding: 30px;
    border: 1px solid rgb(218, 214, 214);
    background-color: #e2e3e5;
    box-shadow: 1px 4px 20px #646464;
    border-radius: 1%;

    @media (max-width: 700px) {
        width: 95%;
    }

    &__title {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px 0;
    color: rgb(70, 72, 74);

        @media (max-width: 700px) {
            font-size: 24px;
            font-weight: 700;
        }
    }

    &__label {
    font-size: 18px;
    display: block;
    margin: 0 0 10px 0;
    
    }

    &__input {
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    transition: transform 0.5s ease 0s;
    border: 1px solid grey;

    @media (max-width: 700px) {
        font-size: 12px;
        font-weight: 700;
    }
    }

    &__button {
        width: 100%;
        text-transform: uppercase;
        margin-top: 20px;
    }

    &__prod {
    display: flex;
    background: #ffffff;
    align-items: center;
    height: 80px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;

    & img {
        height: 60px;
        margin-right: 20px;
            @media (max-width: 400px) {
                margin-right: 0;
            }
        }
    }
}

.input-group {
    & input {
        text-align: center;
        @media (max-width: 400px) {
            padding: 2px;
        }
    }
}

.invalidfeedback {
    width: 100%;
margin-top: 0.25rem;
font-size: 0.875em;
color: #dc3545;
}
