.banner__img {
    height: 200px;
    
    @media (min-width: 576px) {
        height: 200px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        height: 350px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        height: 400px;
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        height: 450px;
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        height: 500px;
    }

}


