.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 576px) {
       justify-content: center;
    }
}

.card {
    margin-bottom: 35px;
    min-width: 23%;

    @media (max-width: 576px) {
        width: 48%;
     }
}

.card_img {
 width: fit-content;
 height: 50%;
 align-self: center;
 @media (max-width: 576px) {
    height: 100px;
 }
}

.card {
    border: none;
}

.card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);

}

.card-title {
    height: 30px;

    @media (max-width: 576px) {
        height: fit-content;
        font-size: 14px;
     }
}

.card-body a {
    width: 100%;
}

.btn-buy{
    width: 100%;
    @media (max-width: 576px) {
        font-size: 14px;
     }
    // transition: all 5s ease;
}