.bigCan {
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.bigCan img{
    height: fit-content;
    // width: fit-content;
    margin-bottom: 50px;
   }

@media (max-width: 992px) {
    .bigCan {
        flex-direction: column;
        align-items: center;
       }
    
       .bigCan img{
        height:200px;
        width: auto;
       }
    
       .bigCan p{
        width: 100%;;
       }
    
}
