.bigCan {
    display: flex;
    justify-content: space-between;
}

.bigCan p {
    width: 45%;
    line-height: 25px;
}

.bigCan img{
    height: fit-content;
    // width: fit-content;
    margin-bottom: 50px;
   }

@media (max-width: 992px) {
    .bigCan {
        flex-direction: column;
        align-items: center;
       }
    
       .bigCan img{
        height:200px;
        width: auto;
       }
    
       .bigCan p{
        width: 100%;;
       }
    
}